
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #050e34;
  padding: 0;
}



.whats {
  position: fixed;
  bottom: 15px;
  right: 30px;
}
