@media screen and (max-width: 1100px){
   
    .corpo{
        padding-top: 10px;
        display: flex;
        flex-direction: column; /* Altera a direção do flex para coluna */
        align-items: center; 
        
       
        
    }

    .lado_esquedo{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .corpo p{
        font-size: 20px;
        font-weight: 500;
    }

    .lado_esquedo p{
        text-align: center;
    }

    .imag{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    

}