@media screen and (max-width: 1000px){
   
    .corpo{
        padding-top: 50px;
    }

    .lado_esquedo{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .lado_esquedo p{
        text-align: center;
    }

    .imag{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

}